body {
    background-color: #f6f6f6;
    margin: 0%;
    font-family: "Open Sans", sans-serif;
}

.menuLateral {
    width: 22%;
    height: 100vh;
    background-color: #5e2c2f;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

.logoMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.logoMenu img {
    width: 70px;
    filter: drop-shadow(0px 0px 12px #000000);
}

.linksMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.on {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    background-color: rgba(55, 25, 27, 0.6);
    padding: 10px 0px 10px 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.on:hover {
    background-color: #37191b;
    transform: translateY(-3px);
}


.off {
    color: white;
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    padding-left: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.off:hover {
    transform: translateY(-3px);
}

.btsMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 22%;
}

.btCentral {
    width: 240px;
    height: 50px;
    font-size: 35px;
    font-weight: 700;
    color: #5e2c2f;
    background-color: white;
    border: none;
    border-radius: 50px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.btCentral:hover {
    transform: scale(1.02);
}

.btSair {
    width: 240px;
    height: 50px;
    font-size: 35px;
    font-weight: 700;
    color: #5e2c2f;
    background-color: #d8bfa5;
    border: none;
    border-radius: 50px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: 0.2s;
}

.btSair:hover {
    transform: scale(1.02);
}





.conteudoAjuda {
    margin-left: 22%;
    margin-top: 20px;
}

.topoAjuda {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.topoAjuda h1 {
    color: #5e2c2f;
    font-size: 40px;
}

.topoAjuda input {
    background-color: white;
    border: 1px solid #a6a6a6;
    padding: 10px 7px 10px 7px;
    border-radius: 7px;
    font-size: 15px;
}

.topoAjuda button {
    background-color: #5e2c2f;
    color: #d8bfa5;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}
.topoAjuda button:hover{
    transform: scale(1.02);
}

.cardAjuda {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
}

.topoCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 10px;
}

.topoCard span {
    color: #a6a6a6;
    font-size: 17px;
}

.areaInputs{
    margin-left: 30px;
    margin-right: 35px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.areaInputs h1{
    font-size: 17px;
    font-weight: 400;
    margin: 0%;
    margin-bottom: 5px;
}

.areaInputs select{
    width: 100%;
    background-color: white;
    border: 1px solid #a6a6a6;
    padding: 10px 7px 10px 7px;
    border-radius: 7px;
    font-size: 15px;
}

.areaInputs input{
    width: 100%;
    background-color: white;
    border: 1px solid #a6a6a6;
    padding: 10px 0px 10px 7px;
    border-radius: 7px;
    font-size: 15px;
}

.areaInputs textarea{
    width: 100%;
    height: 230px;
    background-color: white;
    border: 1px solid #a6a6a6;
    padding: 10px 0px 0px 7px;
    border-radius: 7px;
    font-size: 15px;
}

.btsAjuda{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.btnEnviar{
    background-color: #5e2c2f;
    color: white;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btnEnviar:hover{
    transform: scale(1.02);
}

.btnLimpar{
    background-color: #ffbcbc;
    color: black;
    border: none;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btnLimpar:hover{
    transform: scale(1.02);
}