body {
    background-color: #5e2c2f;
    overflow: hidden;
    margin: 0%;
    font-family: "Open Sans", sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-top: 10%;
}

.colunaEsquerda img {
    width: 400px;
}


.colunaDireita div {
    display: flex;
    flex-direction: column;
}

.colunaDireita h1 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    margin-bottom: 0%;
}

.colunaDireita input {
    background-color: #5e2c2f;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 35px;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 25px;
}

input::placeholder {
    color: #a6a6a6;
}

.colunaDireita button {
    width: 100%;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 0px 8px 0px;
    font-size: 20px;
    font-weight: 600;
    color: #5e2c2f;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    transition: 0.2s;
}

.colunaDireita button:hover {
    transform: scale(1.02);
}

.senha {
    position: relative;
}

.senha img {
    width: 32px;
    position: absolute;
    right: 15px;
    top: 63%;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}

.senha img:hover {
    opacity: 1;
}